.language-toggle {
  padding: 8px 16px;
  margin: 0 8px;
  font-size: 14px;
  color: #000000;
  background-color: transparent;
  border-radius: 4px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.language-toggle.active {
  background-color: #9894FF;
  color: #fff;
}